@charset "utf-8";
/* CSS 重置 */
body, div, p, h1, h2, h3, h4,
ul, li, dl, dt, dd, ol, form, table, tr, td,
span, label, input, select, option, a, img, i,
em, strong, b {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #333333;
}


body {
    font-family: "微软雅黑";
    color: #000;
    background: #9f999f;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

.main{ width: 960px; height: auto; margin: 0 auto; *zoom:1; padding-top: 500px;}
.main:after{ content: '.'; display: block; height: 0; visibility: hidden;clear: both;}


.main_Left{ float: left; position: relative; width: 450px; height: auto; padding: 37px 0 10px 6px; background: #fff;}
.main_bigImg{ position: absolute; top:36px; left:456px;  width: 480px; height: 360px;  border:#cecbce 1px solid; overflow: hidden;}
.main_MiddleImg{ position: relative; width: 440px; height: 440px; overflow: hidden;}
.main_board{ position: absolute; top: 0; left: 0; width: 263px; height: 197px; background: url("../images/btn_bg.png"); text-indent: -99em; overflow: hidden; cursor: move;}

.main_smallImg{ padding: 22px 0 0 13px; height: 60px;}
.main_smallImg li{ float: left; position:relative;width:58px; height: 58px; margin-left: 19px; border: #f7f7f7 1px solid; display: inline; cursor: pointer;}

.main_smallImg li i{ position:absolute;top:-18px; left:23px;width: 13px; height: 11px;   background: url("../images/box_btn.png") no-repeat; overflow: hidden; text-indent: -99em; display: none;}
.main_smallImg .main_imgCur{ border: #6f6b6f 1px solid;}
.main_smallImg .main_imgCur i{ display: block;}


